body {
    background-image: url("image/nuage.jpg"); 
}
.popup-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(245, 5, 5); /* Black w/ opacity */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.popup-content {
  background-color: #fa000000;
  margin: auto; /* Center the content */
  padding: 20px;
  border: 1px solid #67fd0300;
  width: 10%; /* Adjust as needed */
  max-width: 500px; /* Max width for better display */
  border-radius: 1px;
  text-align: center;
}