#text {
  text-align: center;
  color: #ffffff;
  display: block;
  margin: auto;
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 20px;
}

.textBox {
    border:solid 1px black; 
    border-radius:8px; 
    width: 25%; 
    font-size: 10pt; 
    text-align: center;
    margin: auto;
    margin-left: 37.5%;
    top: 45%;
    position: absolute;
}


.button {
  border:3px solid rgb(129, 0, 0); 
  background-color: rgb(216, 6, 6);
  border-radius:8px; 
  width: 25%; 
  font-size: 10pt; 
  text-align: center;
}
