body {
/*source: https://stackoverflow.com/questions/34273778/prevent-background-repeating*/
    background-image: url('image/nuage.jpg');
    background-repeat: no-repeat; /* previent image de se répéter */
    background-size: cover; /* Change la taille de l'image pour qu'il couvre tout l'écran sans distortion*/
    background-position: center; /*Centre l'image dans l'arrière plan*/

    img {
        margin: auto;
        width: 50%;
        margin-left: 25%;
        top: 20%;
        position: absolute;
    }
}

#text {
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
  margin: auto;
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 20px;
}

.textBox {
    border:solid 1px black; 
    border-radius:8px; 
    width: 25%; 
    font-size: 10pt; 
    text-align: center;
    margin: 0 auto;
    margin-left: 37.5%;
    margin-right: 50%;
}


.button {
  border:3px solid rgb(129, 0, 0); 
  background-color: rgb(216, 6, 6);
  border-radius:8px; 
  width: 25%; 
  font-size: 10pt; 
  text-align: center;
  margin: auto;
  margin-left: 37.5%;
  top: 50%;
  position: absolute;
}
.button:hover {
  background-color: rgb(129, 0, 0);
  color: rgb(2, 2, 2);
}