body {
    background-image: url('image/nuage.jpg');
    img {
        display: block;
        margin: auto;
        width: 50%;
        margin-left: 25%;
        top: 20%;
        position: absolute;
    }
}

#text {
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
  display: block;
  margin: auto;
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 20px;
}

.textBox {
    border:solid 1px black; 
    border-radius:8px; 
    width: 25%; 
    font-size: 10pt; 
    text-align: center;
    margin: auto;
    margin-left: 37.5%;
    top: 45%;
    position: absolute;
}
/*
#overlap_a {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/*permet de créer un arrière plan qui ne se répéte pas, mais couvre tout l'écran, source: https://stackoverflow.com/questions/4010624/overlap-images-in-css*/
/* CUSTOMIZE. Both image containers. 

#overlap_a>div {
  height: 100%;
  width: 100%;
}


/* CUSTOMIZE. First image container. 

.overlap>div:first-child {
  width: 25%;
}


/* CUSTOMIZE. Second image container. 

.overlap>div:last-child {
  bottom: 0;
  right: 0;
}


/* Container that holds images. 

.overlap {
  position: relative;
}


/* Position image container. 

.overlap>div {
  position: absolute;
}


/* Make image cover the image container. 

.overlap>div>img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}*/

#example1 {
  background: url(mountain.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}