body {
    background-image: url('image/nuage.jpg');
    img {
        display: block;
        margin: auto;
        width: 50%;
    }
}

#text {
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
  display: block;
  margin: auto;
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 20px;
}

.textBox {
    border:solid 1px black; 
    border-radius:8px; 
    width: 25%; 
    font-size:10pt; 
    text-align: center;
    margin: 0 auto;
  margin-left: 37.5%;
  margin-right: 50%;
}
